---
title: Resume | Tony Semeraro - Web Developer
cv_name: Tony Semeraro
cv_occupation: Web Developer
cv_email: tonys3meraro@gmail.com
cv_location_city: San Diego
cv_location_state: California



cv_photo: "../../images/me-with-chips.jpg"
cv_objective: "I build software and solutions on the modern web technology stack. I'm happy to use opensource software whenever appropriate and strive to craft with the best tools available, wherever their origin."
---
<!-- TODO add vars into code below -->


<div id="resume-wrap" class = "resume">
    <div class ="row" >     
        <div class ="large-7 columns " >
            <div class = "row">
                <div class =" small-12 columns" >
                    <div class = "row">
                        <div class ="small-8 columns" itemscope itemtype="http://schema.org/Person">
                            <div class = "resume-title-name" itemprop="name"><strong><%= data.page.cv_name%></strong></div>
                        </div>
                        <div class ="small-4 columns"></div>
                    </div>
                    <hr />

                    
                    <div class ="row resume-sub-header">
                        <div class ="small-4 columns resume-title-text" >
                            <span itemprop="jobtitle">
                                <p><strong><%= data.page.cv_occupation %></strong></p>
                            </span>
                        </div>


                        <div class ="small-8 columns resume-title-text" >
                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <p><span itemprop="addressLocality">Location: <%= data.page.cv_location_city%></span>, <span itemprop="addressRegion"><%= data.page.cv_location_state%></span><br class= "nop">
                                <span itemprop="email">Email: <%= data.page.cv_email%></span></p>
                            </div>
                        </div>
                    </div> 

                </div> 
            </div>
        </div>
        <div class= "large-5 small-12 columns nop">
            <img src="images/<%= data.page.cv_photo%>" alt="Photo of <%= data.page.cv_name%>" id="pic" />
        </div>
    </div>



    <div class = "row" id="objective">
        <div class = "large-7 columns resume-title-text" >
            <p><%= data.page.cv_objective%>
            </p>
        </div>
    </div>


    <!-- begin skills list -->
    <div class = "row"> 


        <dl> 
            <div class="row">
                <div class="large-3 columns">           
                    <dt>Skills</dt>
                </div>
                <div class="small-9 columns">
                    <dd>
                        <h4>Full Stack Web Development</h4>
                        <ul>
                            <li> HTML5, CSS and Javascript hand coding standards compliant implementations</li>
                            <li> Proficient in less, sass, erb, rvm, haml and yaml 
                                <li> MVC and MV.VC web applications in Ruby on Rails or Sinatra </li>
                                <li> Front-End UX/UI prototyping and creation with ZURB Foundation and Twitter Bootstrap frameworks</li>                    
                                <li> SQL coding on Oracle, MySQL and PostgreSQL </li>
                                <li> Version control with git</li>

                                <li> Configure, deploy and program LAMP based solutions anywhere from raw metal servers to PaaS virtualized cloud computing</li>
                                <li> Exposure to BDD, TDD and unit testing </li>
                            </ul>

                        </dd>
                    </div>
                </div>
            </div>

            <div class="row res-highlights">
                <div class="large-3 columns">           
                    <dt>Experience</dt>
                </div>
                <div class="small-9 columns">
                    <dd>

                        <h4><a href='http://www.simplelogicstudio.com/
'> simple logic studio</a> <span class = "resume-timeline">Mobile Web Developer - July 2013 - </span></h4>
                        <ul>
                            <li>MVC Javascript coding</li>
                            <li>Mobile App development in Phonegap</li>
                            <li>HTML5, jQuery, Backbone, PHP and mySql</li>                         
                        </ul> 

                        <h4>freelance software developer<span class = "resume-timeline"> 2012 - </span></h4>
                        <br/>

                        <h4>okhereisthesituation.com <span class = "resume-timeline">Technical Lead - 2012 - </span></h4>
                        <ul>
                            <li>Site-wide WordPress template redesign</li>
                            <li>Updates, patches and performance tuning</li>                         
                        </ul> 

                        <h4>kubbrd.com [current wip] <span class = "resume-timeline">Founder - 2013 -</span></h4>
                        <ul>
                            <li>Recipe presenting and sharing across blogs and social media</li>
                            <li>RoR API and static html generation for basic clients</li>
                            <li>Backbone.js front end for rich clients and mobile</li>
                        </ul> 

                        
                    </dd>
                </div>
            </div>



            <div class="row">
                <div class="large-3 columns">           
                    <dt>Education</dt>
                </div>
                <div class="small-9 columns">
                    <dd>




                        <h4>Valencia College - Orlando, Florida</h4>
                        <p><strong>Major:</strong> Computer Science<br />

                        </dd>
                    </div>
                </div>
            </div>

        </dl>



    </div>


