---
title: Resume | Tony Semeraro - Web Developer
cv_name: Tony Semeraro
cv_occupation: Software Engineer
cv_email: tonys3meraro@gmail.com
cv_location_city: Boston
cv_location_state: Massachusetts

cv_objective: "I design and build scalable software that solves complex problems in the SaaS, web and mobile space using modern web technologies. I strive to balance traditional craftsmanship, teamwork, rapid deployment and thoughtful engineering. "
---
<div id="resume-wrap" class = "resume row">
  <div class ="row" >
    <div class ="large-12 columns " >
      <div class = "row">
        <div class ="small-12 columns" itemscope itemtype="http://schema.org/Person">
          <div class = "resume-title-name" itemprop="name"><strong><%= data.page.cv_name%></strong></div>
        </div>
      </div>
      <hr />
      <div class ="row resume-sub-header">
        <div class ="large-4 small-9 columns resume-title-text" >
          <div itemprop="jobtitle" class ="profession">
            <p><%= data.page.cv_occupation %></p>
          </div>
        </div>
        <div class ="large-6 small-12 large-offset-2 small-offset-4 columns title-location resume-title-text" >
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <p><span itemprop="addressLocality">Location: <%= data.page.cv_location_city%></span>, <span itemprop="addressRegion"><%= data.page.cv_location_state%></span><br class= "nnop">
              <span itemprop="email">Email: <%= data.page.cv_email%></span> <br class= "nnop"> <span>Telephone: (213) 986-3433</span></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class = "row" id="objective">
    <div class = "large-8 columns large-centered resume-title-text" >
      <p><%= data.page.cv_objective%>
      </p>
    </div>
  </div>
  <!-- begin skills list -->
  <div class = "row">
    <div class="columns">
      <dl>
        <div class="row ">
          <div class="large-3 small-5 columns">
            <dt>Skills</dt>
          </div>
          <div class="small-11 large-9 columns">
            <dd>
              <h4>Full Stack Software Engineering</h4>
              <ul>
                <li> OOP and Functional programming in Ruby and ES6 / CoffeeScript / Javascript</li>
                <li> SQL / NoSQL data modeling in PostgreSQL, MySQL, Redis and MongoDB</li>
                <li> DevOps / cloud deployments and CI development using Ansible and AWS</li>
                <li> API and MVW multi-layered applications in Ruby on Rails, Vue.js, Backbone.js, and similar frameworks</li>
                <li> Client and server rendered, mobile friendly UI experiences with JS / HTML5 via haml, sass and vue</li>
                <li> Code review and version control with git and GitHub</li>
                <li> Agile / SCRUM SDLC process in a team environment</li>
              </ul>
            </dd>
          </div>
        </div>

        <div class="row res-highlights">
          <div class="large-3 small-5 columns">
            <dt>Experience</dt>
          </div>
          <div class="small-11 large-9 columns">
            <dd>
              <h4 class="title-time"><a href='https://www.autodesk.com/solutions/architecture-engineering-construction/construction' target='_blank'>Autodesk.com/</a>
                <span class = "resume-timeline">Senior Software Engineer: October 2019 -</span>
              </h4>
              <h6 class="location nop">Boston, MA</h6>
              <hr class="thin-rule nop">
              <ul>
                <li>Software engineer for a suite of Construction Management software using Ruby on Rails, MySQL, AWS, Redis, AWS and AngularJS</li>
              </ul>

              <h4 class="title-time"><a href='http://www.openbay.com' target='_blank'>Openbay.com</a>
                <span class = "resume-timeline">Software Engineer: August 2016 - October 2019</span>
              </h4>
              <h6 class="location nop">Cambridge, MA</h6>
              <hr class="thin-rule nop">
              <ul>
                <li>Full Stack software engineer growing and maintaining a suite of software using Ruby on Rails, PostgreSQL, Nginx, Redis, AWS, Vue.js and Backbone.js</li>
<!--                <li>TODO: whitelabel + results</li>-->
                <li>Reconfigured application across web and mobile API to support a fully-featured guest user experience that doubled customer engagement and increased revenue by nearly ten percent</li>
                <li>Engineered a quoting system that automated a costly, manual process resulting in a immediate and more consistent user experience that drove engagment and revenue</li>
                <li>Extended payment processing platform to support split payments sources and settlement through Stripe, SAP and large integration partners </li>
                <li>Created dynamic platform pricing analysis and visualization tool exposed on popular public facing pages to increase SEO value of site</li>
                <li>Designed and executed a flexible enterprise integration through entire stack of the application; from public facing pages, data ingestion
                  payment processing flow reworking and API updates</li>
                <li>Lead engineering team through productization and re-architecting a large, visible aspect of site to become a SaaS offering</li>
              </ul>

              <h4 class="title-time"><a href='http://www.drugdev.com' target='_blank'>DrugDev.com</a>
                <span class = "resume-timeline">Software Engineer: May 2015 - April 2016</span>
              </h4>
              <h6 class="location nop">Boston, MA</h6>
              <hr class="thin-rule nop">
              <ul>
                <li>Developed software in a Rails app using a MySQL and Sphinx Backend and with CoffeeScript, jQuery and AJAX for UI</li>
                <li>Introduced development team to a virtualized, portable and reproducible near-production environment for development and testing</li>
                <li>Modified existing Clinical Trial EDC / IVRS data ingestion backend to interface with complex and varied data feeds</li>
                <li>Maintained client and internal facing UI portal and reporting engine code</li>
              </ul>

              <h4 class="title-time"><a href='http://www.paylease.com' target='_blank'>PayLease.com</a>
                <span class = "resume-timeline">Software Engineer: Jan 2014 - May 2015</span>
              </h4>
              <h6 class="location nop">San Diego, CA</h6>
              <hr class="thin-rule nop">
              <ul>
                <li>Engineered and implemented OAuth and third-party authentication and social login feature for public portal to PayLease flagship application</li>
                <li>Created user behavior logging framework to allow Business Intelligence gathering for forecasting and analysis</li>
                <li>Enhanced core product internals and interface to directly expand into untapped pay stream</li>
                <li>Updated system codebase to remove legacy PHP methods and patterns</li>
              </ul>

            </dd>
          </div>
        </div>
        <div class="row ">
          <div class="large-3 small-5 columns">
            <dt>Education</dt>
          </div>
          <div class="small-11 large-9 columns res-schools">
            <dd>
              <h4>University of Connecticut - Storrs, Connecticut</h4>
              <p>General Studies, B.G.S.<br />
              <h4>Valencia College - Orlando, Florida</h4>
              <p>Computer Science, A.S.<br />
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>


